<!-- bar.html -->
<div class="bar hiddenbar">
   <span id="menu-toggle" class="opener"><i class="gti-bars"></i></span>
  <div class="barc">
    <a href="#!" class="gt-logo"><img src="img/gt-logo.png" alt="Game-tournaments.com"></a>
    <div class="bar-menu">
      <div class="bar-block">
        <a href="#!" class="bar-ava"><img src="img/uava.png" alt="User"></a>
        <div class="bar-username">
          <a href="#!" class="bar-name">Алексей Kleale Алексей Kleale</a>
          <div class="bar-links">
            <span class="bar-label">pro</span>
            <a href="#!" class="u-off"><i class="gti-sign-out"></i></a>
            <a href="#!" class="u-opt"><i class="gti-wrench"></i></a>
          </div>
        </div>
      </div>
      <ul class="bar-nav-games">
        <li class="active"><a href="#!"><img src="http://game-tournaments.com/html/img/logo-582.png" alt="Dota 2"></a></li>
        <li><a href="#!"><img src="http://game-tournaments.com/html/img/logo-704.png" alt="CS:GO"></a></li>
        <li><a href="#!"><img src="http://game-tournaments.com/html/img/logo-313.png" alt="League of Legends"></a></li>
        <li><a href="#!"><img src="http://game-tournaments.com/html/img/logo-758.png" alt="Heroes of the Storm"></a></li>
        <li><a href="#!"><img src="http://game-tournaments.com/html/img/logo-755.png" alt="HearthStone"></a></li>
      </ul>
      <ul class="bar-nav">
        <li class="active"><a href="#!"><i class="gti-vs"></i> <span>Матчи</span></a></li>
        <li><a href="#!"><i class="gti-trophy"></i><span>Турниры</span></a></li>
        <li><a href="#!"><i class="gti-newspaper-o"></i><span>Новости</span></a></li>
        <li><a href="#!"><i class="gti-users"></i><span>Команды</span></a></li>
        <li><a href="#!"><i class="gti-user"></i><span>Игроки</span></a></li>
        <li><a href="#!"><i class="gti-bullhorn"></i><span>Ставки</span></a></li>
        <li><a href="#!"><i class="gti-bell"></i><span>Прогнозы</span></a></li>
        <li><a href="#!"><i class="gti-star"></i><span>Рейтинг</span></a></li>
        <li><a href="#!" ><i class="gti-play-circle-o"></i><span>Медиа</span></a></li>
        <li><a href="#!"><i class="gti-comments"></i><span>Форум</span></a></li>
      </ul>
      <div class="dropers">
        <div class="s-lang">
          <div class="dropdown">
            <a class="dla" id="ddlang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              RU
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="ddlang">
              <li class="active"><a href="#">Русский</a></li>
              <li><a href="#">English</a></li>
              <li><a href="#">Italiano</a></li>
            </ul>
          </div>
        </div>
        <div class="s-time">
          <div class="dropdown">
            <a class="sub" id="ddtime" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              15:08 (GMT +3:00)
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="ddtime">
              <li><a href="#">12:08 (GMT 0:00)</a></li>
              <li><a href="#">13:08 (GMT +1:00)</a></li>
              <li><a href="#">14:08 (GMT +2:00)</a></li>
              <li class="active"><a href="#">15:08 (GMT +2:00)</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="sercher">
      <input type="text" name="" id="" class="form-control" placeholder="Поиск">
      <a href=""><i class="gti-search"></i></a>
    </div>
  </div> 
</div>
