<!-- breadcrumbs.html -->
<div class="bread">
  <ol class="breadcrumb hidden-xs">
    <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
      <a  itemprop="url" href="/"><span itemprop="title">Forms</span></a>
    </li>
    <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
      <a itemprop="url" href="/dota-2"><span itemprop="title">Resume Templates</span></a>
    </li>
    <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
      <a itemprop="url" href="/dota-2"><span itemprop="title">Basic Resume Template Timeless Design</span></a>
    </li>
    <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
      <span itemprop="title">Basic Resume Template</span>
    </li>
   
  </ol>
</div>

