<!-- breadcrumbs.html -->
<div class="bread">
  <ol id="bc1" class="breadcrumb"><span id="ellipses" style="display: inline;">...</span>
    <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
      <a  itemprop="url" href="/"><span itemprop="title">Forms</span></a>
    </li>
    <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
      <a itemprop="url" href="/dota-2"><span itemprop="title">Resume Templates</span></a>
    </li>
    <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
      <a itemprop="url" href="/dota-2"><span itemprop="title">Basic Resume Template Timeless Design</span></a>
    </li>
    <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
      <span itemprop="title">Basic Resume Template</span>
    </li>
  </ol>
</div>
