{#
 <section class="cat-header">
  <div class="container">
    {% include "template/breadcrumbs.html" %}
    <div class="row">
      <div class="col-md-4">
        <i class="ic ic-business-w"></i> <h1> Business</h1>
        <div class="total">Total 743 templates</div>
      </div>
      <div class="col-md-8">
        <div class="cat-text">
          <span class="teaser">The Basic Resume Template is a template used for finding a job by applicants. An excellent resume template helps you find a proper job and saves you lots of time wandering around different recruit sites. This</span><span class="complete">file teaches you how to stand out among various interviewees. It can decide whether you have the chance to attend the interview. Making a well-contented and well-structured resume will give you a bright future.</span><span class="more">more...</span>
        </div>
      </div>
    </div>
  </div>
</section>
#}

<section class="cat-header">
  <div class="cat-header-wr">
    
    <!-- breadcrumbs.html -->
    <div id="bread" class="bread">
      <ol id="bc1" class="breadcrumb">
       {#<span id="ellipses" style="display: inline;">...</span>#}
        <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
          <a  itemprop="url" href="/"><span itemprop="title"><i class="fa fa-home"></i> Home</span></a>
        </li>
        <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
          <a itemprop="url" href="#"><span itemprop="title">Resume Templates</span></a>
        </li>
        <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
          <a itemprop="url" href="#"><span itemprop="title">Basic Resume Template Timeless Design</span></a>
        </li>
        <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
          <span itemprop="title">Basic Resume Template</span>
        </li>
        {#<span class="bc-opener"><i class="fa fa-ellipsis-h"></i>#}</span>
      </ol>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <i class="ic ic-business-w"></i> <h1> Business</h1>
        <!--<div class="total">Total 743 templates</div>-->
      </div>
      <div class="col-md-6">
      <div class="total">Total 743 templates</div>
       <!--
        <div class="cat-text">
          <span class="teaser">The Basic Resume Template is a template used for finding a job by applicants. An excellent resume template helps you find a proper job and saves you lots of time wandering around different recruit sites. This</span><span class="complete">file teaches you how to stand out among various interviewees. It can decide whether you have the chance to attend the interview. Making a well-contented and well-structured resume will give you a bright future.</span><span class="more">more...</span>
        </div>
        -->
      </div>
    </div>
  </div>
</section>