<!-- header.html -->
<header class="header">
  
  <nav class="navbar">
    <div class="">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#urmenu">
          <i class="fa fa-bars"></i>
        </button>
        <!--
        <a class="navbar-brand" href="#">
          <img src="img/logo.png">
        </a>
        -->
      </div>
      <div class="conts">
        <a class="btn btn-primary btn-sign" data-toggle="modal" data-target="#modal-sign" href="">Sign up</a>
      </div>
      <div class="collapse navbar-collapse" id="urmenu">
        <ul class="nav navbar-nav">
          <li class="w_sub">
            <a href="">Business <i class="fa fa-angle-down"></i></a>
            <ul class="sub">
              <li class="w_sub-sub"><a href="">Page</a>
                <ul>
                  <li><a href="">Page</a></li>
                  <li><a href="">Page</a></li>
                  <li><a href="">Page</a></li>
                </ul>
              </li>
              <li><a href="">Page</a></li>
              <li><a href="">Page</a></li>
            </ul>  
          </li>
          <li class="active"><a href="#">Financial</a></li>
          <li><a href="#">Legal</a></li>
          <li><a href="#">Life</a></li>
          <li><a href="#">Medical</a></li>
          <li><a href="#">Education</a></li>
          <li><a href="#">Miscellaneous</a></li>
          <li><a href="#">Letters</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
</header>