<!-- header-doc.html -->
<header class="header header-doc">
  <nav class="navbar">
    <div class="">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img src="img/logo_white.svg">
        </a>
      </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#urmenu">
          <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="urmenu">
        <div class="conts">
          {#
            <a href="#" class="searcher1 searcher_js btn">
              <i class="fa fa-search"></i>
            </a>
            <div class="searchbar">
              <div class="doc-srch">
                  <form action="search-google.html" method="GET">
                    <input type="text" name="q" placeholder="Search documents" class="form-control">
                  </form>
                  <a onclick="$(this).closest('form').submit();" class="searcher">Go</a>
                <a href="#" class="searcher-close searcher_js btn">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </div>
          #}
          {#
            <a class="btn btn-primary btn-sign" data-toggle="modal" data-target="#modal-sign" href="">Sign up</a>
          #}
            <a data-toggle="modal" data-target="#modal-local" href="#" class="btn-primary btn btn-sign btn-local" title="Choose you country or state to get forms only available for you location"><i class="fa fa-globe"></i><span>Your country or state</span></a>
          {#
            <a data-toggle="modal" data-target="#modal-local" href="#" class="btn-primary btn btn-sign btn-local" title="Choose you country or state to get forms only available for you location"><i class="fa fa-globe"></i><span>USA</span></a>
          #}
        </div>
        <ul class="nav navbar-nav">
          <li class="w_sub">
            <a href="">Business</a><i class="w_sub-sub-opener fa fa-angle-down"></i>
            <ul class="sub">
              <li class="w_sub-sub"><a href="">Page</a>
                <ul>
                  <li><a href="">Page</a></li>
                  <li><a href="">Page</a></li>
                  <li><a href="">Page</a></li>
                </ul>
              </li>
              <li><a href="">Page</a></li>
              <li><a href="">Page</a></li>
            </ul>  
          </li>
          <li class="active"><a href="#">Financial</a></li>
          <li><a href="#">Legal</a></li>
          <li><a href="#">Life</a></li>
          <li><a href="#">Medical</a></li>
          <li><a href="#">Education</a></li>
          <li><a href="#">Miscellaneous</a></li>
          <li><a href="#">Letters</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
  <div class="subheader subheaderlight clearfix">
    <div class="dochead-wr">
      <div class="doc-btns">
        <div class="btn-group">
          <button type="button" class="btn btn-1 btn-border btn-white"><!--<i class="i1"></i><--><i class="fa fa-download"></i><span>Download</span></button>
          <button type="button" class="btn btn-border btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            PDF
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li class="active"><a href="#">PDF <b class="label label-primary pull-right">123Kb</b></a></li>
            <li><a href="#">DOC <b class="label label-primary pull-right">123Kb</b></a></li>
            <li><a href="#">TXT <b class="label label-primary pull-right">123Kb</b></a></li>
          </ul>
        </div>
        <!--
        <button type="button" class="btn btn-2 btn-border btn-white"><i class="i2"></i><span>Fill in this form online</span></button>
        -->
        <button type="button" class="btn btn-2 btn-border btn-white"><i class="fa fa-print"></i><span>Print page</span></button>
        <button type="button" class="btn btn-2 btn-border btn-white"><i class="fa fa-share"></i><span>Share</span></button>
      </div>
      <div class="doc-srch">
        <div class="swr">
          <input type="text" placeholder="Search documents" class="form-control">
          <a href="" class="searcher">Go</a>
        </div>
        <i class="fa fa-search" id="mob-show-search"></i>
      </div>
      <div class="doc-pgr">
        <span>Page <input type="text" value="5" class="form-control"> of 15</span>
        <button type="button" class="btn btn-1 btn-border btn-white">Go</button>
      </div>
      <div class="doc-pgr-select">
        <select>
          <option value="1">page 1</option>
          <option value="1">page 2</option>
          <option value="1">page 3</option>
          <option value="1">page 4</option>
          <option value="1">page 5</option>
        </select>
      </div>
    </div>
  </div>
</header>