<!-- modal.html -->

<!-- Sign UP -->
<div class="modal modal-sign fade" id="modal-sign" tabindex="-1" role="dialog">
  <div class="sign-up">
    <button type="button" class="close" data-dismiss="modal"><span >&times;</span></button>
    <div class="row">
      <div class="col-sm-5">
        <div class="form-box">
          <div class="form-top">
              <div class="form-top-left">
                  <h3>Login to our site</h3>
                  <p>Enter username and password to log on:</p>
              </div>
              <div class="form-top-right">
                  <i class="fa fa-key"></i>
              </div>
          </div>
          <div class="form-bottom">
              <form role="form" action="" method="post" class="login-form">
                  <div class="form-group">
                      <label class="sr-only" for="form-username">Username</label>
                      <input name="form-username" placeholder="Username..." class="form-username form-control" id="form-username" type="text">
                  </div>
                  <div class="form-group">
                      <label class="sr-only" for="form-password">Password</label>
                      <input name="form-password" placeholder="Password..." class="form-password form-control" id="form-password" type="password">
                  </div>
                  <button type="submit" class="btn btn-primary btn-block btn-lg">Sign in!</button>
              </form>
          </div>
        </div>
        <div class="social-login">
          <h3>...or login with:</h3>
          <div class="social-login-buttons">
              <a class="btn btn-link-1 btn-link-1-facebook" href="#">
                  <i class="fa fa-facebook"></i> Facebook
              </a>
              <a class="btn btn-link-1 btn-link-1-twitter" href="#">
                  <i class="fa fa-twitter"></i> Twitter
              </a>
              <a class="btn btn-link-1 btn-link-1-google-plus" href="#">
                  <i class="fa fa-google-plus"></i> Google Plus
              </a>
          </div>
        </div>
      </div>
      <div class="col-sm-1 middle-border"></div>
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <div class="form-box">
          <div class="form-top">
            <div class="form-top-left">
                <h3>Sign up now</h3>
                <p>Fill in the form below to get instant access:</p>
            </div>
            <div class="form-top-right">
                <i class="fa fa-pencil"></i>
            </div>
          </div>
          <div class="form-bottom">
            <form role="form" action="" method="post" class="registration-form">
                <div class="form-group">
                    <label class="sr-only" for="form-first-name">First name</label>
                    <input name="form-first-name" placeholder="First name..." class="form-first-name form-control" id="form-first-name" type="text">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-last-name">Last name</label>
                    <input name="form-last-name" placeholder="Last name..." class="form-last-name form-control" id="form-last-name" type="text">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-email">Email</label>
                    <input name="form-email" placeholder="Email..." class="form-email form-control" id="form-email" type="text">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-about-yourself">About yourself</label>
                    <textarea name="form-about-yourself" placeholder="About yourself..." class="form-about-yourself form-control" id="form-about-yourself"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-lg">Sign me up!</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Local -->
<div class="modal modal-local fade" id="modal-local" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Please choose your country</h4>
      </div>
      <div class="modal-body">
        <h5>The United States</h5>
        <select class="form-control">
          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="DE">Delaware</option>
          <option value="DC">District Of Columbia</option>
          <option value="FL">Florida</option>
          <option value="GA">Georgia</option>
          <option value="HI">Hawaii</option>
          <option value="ID">Idaho</option>
          <option value="IL">Illinois</option>
          <option value="IN">Indiana</option>
          <option value="IA">Iowa</option>
          <option value="KS">Kansas</option>
          <option value="KY">Kentucky</option>
          <option value="LA">Louisiana</option>
          <option value="ME">Maine</option>
          <option value="MD">Maryland</option>
          <option value="MA">Massachusetts</option>
          <option value="MI">Michigan</option>
          <option value="MN">Minnesota</option>
          <option value="MS">Mississippi</option>
          <option value="MO">Missouri</option>
          <option value="MT">Montana</option>
          <option value="NE">Nebraska</option>
          <option value="NV">Nevada</option>
          <option value="NH">New Hampshire</option>
          <option value="NJ">New Jersey</option>
          <option value="NM">New Mexico</option>
          <option value="NY">New York</option>
          <option value="NC">North Carolina</option>
          <option value="ND">North Dakota</option>
          <option value="OH">Ohio</option>
          <option value="OK">Oklahoma</option>
          <option value="OR">Oregon</option>
          <option value="PA">Pennsylvania</option>
          <option value="RI">Rhode Island</option>
          <option value="SC">South Carolina</option>
          <option value="SD">South Dakota</option>
          <option value="TN">Tennessee</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VT">Vermont</option>
          <option value="VA">Virginia</option>
          <option value="WA">Washington</option>
          <option value="WV">West Virginia</option>
          <option value="WI">Wisconsin</option>
          <option value="WY">Wyoming</option>
      </select>	
        <br>
        <h5>Canada, and Puerto Rico</h5>
        <ul>
          <li><a href="/ca/">
              <img src="http://images.apple.com/global/elements/flags/30x30/canada.png" alt="" width="30" height="30">
              <span><span>Canada (English)</span></span>
          </a></li>
          <li><a href="/ca/fr/">
              <img src="http://images.apple.com/global/elements/flags/30x30/canada.png" alt="" width="30" height="30">
              <span><span>Canada (Français)</span></span>
          </a></li>
          <li><a href="/lae/">
              <img src="http://images.apple.com/global/elements/flags/30x30/puerto_rico.png" alt="" width="30" height="30">
              <span><span>Puerto Rico (English)</span></span>
          </a></li>
          <li><a href="/la/">
              <img src="http://images.apple.com/global/elements/flags/30x30/puerto_rico.png" alt="" width="30" height="30">
              <span><span>Puerto Rico (Español)</span></span>
          </a></li>
          <li><a href="/">
              <img src="http://images.apple.com/global/elements/flags/30x30/usa.png" alt="" width="30" height="30">
              <span><span>United States</span></span>
          </a></li>
        </ul>
       
       
        <h5>Africa, Middle East, and India</h5>
        
        <ul>
          {% for i in 0..5 %}
          <li>
               <a href="/us/" ><img src="http://images.apple.com/global/elements/flags/30x30/armenia.png" alt="" width="30" height="30">
              <span><span>Armenia</span></span>
            </a>
          </li>
          {% endfor %}
        </ul>
        
        <h5>Asia Pacific</h5>
        <ul>
          {% for i in 0..5 %}
          <li>
               <a href="/us/" ><img src="http://images.apple.com/global/elements/flags/30x30/armenia.png" alt="" width="30" height="30">
              <span><span>Armenia</span></span>
            </a>
          </li>
          {% endfor %}
        </ul>
        
        <h5>Europe</h5>
        <ul>
          {% for i in 0..5 %}
          <li>
               <a href="/us/" ><img src="http://images.apple.com/global/elements/flags/30x30/armenia.png" alt="" width="30" height="30">
              <span><span>Armenia</span></span>
            </a>
          </li>
          {% endfor %}
        </ul>
        
        <h5>Latin America and the Caribbean</h5>
        <ul>
          {% for i in 0..5 %}
          <li>
               <a href="/us/" ><img src="http://images.apple.com/global/elements/flags/30x30/armenia.png" alt="" width="30" height="30">
              <span><span>Armenia</span></span>
            </a>
          </li>
          {% endfor %}
        </ul>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-primary"><i class="fa fa-check"></i>&nbsp; Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>






