{% set name = ['Sample Contractor Agreement For A Canadian Registered Charity Carrying Out Foreign Activities','Patient Information','Lease Of A Condominum Unit','Application For United States Residency Certification','21 Code For Federal Regulation Parts 1305, 1311','Wisconsin Pharmacy Closing Affidavit']%}
 
{% set label = ['Financial','Business','Legal']%}

 <section class="hotforms">
  <h3 class="lined2"><span>Related forms</span></h3>
  <div class="f-slider owl-carousel">
      {% for i in 0..10 %}
        <div class="f-item">
          <a href="" class="f-pic">
            <img src="img/form.png" alt="">
          </a>
          <a href="" class="f-link">
            <span>{{random(name)}}</span>
          </a>
          <a href="" class="f-cat label label-primary">{{random(label)}}</a>
        </div>
      {% endfor %}
  </div>
  <div class="btn-footer">
    <div class="container">
      <a href="" class="btn btn-lg btn-border">Find out more forms</a>
    </div>
  </div>
</section>