<!-- scripts.html -->

<!--Import jQuery-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<!-- jQuery for older IE -->
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
-->
<!-- Latest compiled and minified bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- MAP -->
<script type="text/javascript" src="/assets/js/jqvmap/jquery.vmap.js"></script>
<script type="text/javascript" src="/assets/js/jqvmap/maps/jquery.vmap.usa.js" charset="utf-8"></script>
<script type="text/javascript" src="/assets/js/jqvmap/maps/continents/jquery.vmap.africa.js" charset="utf-8"></script>
<script type="text/javascript" src="/assets/js/jqvmap/maps/continents/jquery.vmap.asia.js" charset="utf-8"></script>
<script type="text/javascript" src="/assets/js/jqvmap/maps/continents/jquery.vmap.australia.js" charset="utf-8"></script>
<script type="text/javascript" src="/assets/js/jqvmap/maps/continents/jquery.vmap.europe.js" charset="utf-8"></script>
<script type="text/javascript" src="/assets/js/jqvmap/maps/continents/jquery.vmap.north-america.js" charset="utf-8"></script>
<script type="text/javascript" src="/assets/js/jqvmap/maps/continents/jquery.vmap.south-america.js" charset="utf-8"></script>
<!-- map init in app.js -->
<!-- .MAP -->

<!-- Site Sripts -->
<script src="/js/main.js?123"></script>


<!--PAGES select-->
<style>
  body{
    margin-bottom: 50px;
  }
</style>
<div style="position: fixed;
    z-index: 10;
    bottom: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.22);
    padding: 10px;
    border-radius: 5px;">
  <div class="btn-group" role="group" id="hpages">
    <a href="/blog-main.html" class="m1 btn btn-sm btn-success">Blog</a>
    <a href="/blog-cat.html" class="m1 btn btn-sm btn-success">Blog cat</a>
    <a href="/blog-post.html" class="m1 btn btn-sm btn-success">Post</a>
    <a href="/index.html" class="m1 btn btn-sm btn-warning">home</a>
    <a href="/doc.html" class="m2 btn btn-sm btn-warning">doc</a>
    <a href="/category.html" class="m2 btn btn-sm btn-warning">cat</a>
    <a href="/templates.html" class="m2 btn btn-sm btn-warning">templates</a>
    <a href="/cat-temp.html" class="m2 btn btn-sm btn-warning">cat and templates</a>
    <a href="/cat-temp2.html" class="m2 btn btn-sm btn-warning">cat and templates v2</a>
    <a href="/search.html" class="m2 btn btn-sm btn-warning">search</a>
    <a href="/search-google.html" class="m2 btn btn-sm btn-warning">search google</a>
    <a href="/404.html" class="m2 btn btn-sm btn-warning">404</a>
  </div>
</div>
<!-- .PAGES select-->
<!--STYLE CHANGE-->
{#
<div style="position: fixed;
    z-index: 10;
    bottom: 55px;
    right: 5px;
    background: rgba(0, 0, 0, 0.22);
    padding: 10px;
    border-radius: 5px;">
  <div class="btn-group" role="group">
    <!--<a class="m1 btn btn-sm btn-default active">Style 1</a>
    <a class="m2 btn btn-sm btn-default">Style 2</a>
    <a class="m3 btn btn-sm btn-default">Style 3</a>
    -->
    
    <a class="bg1 btn btn-sm btn-default active">HEAD BG 1</a>
    <a class="bg3 btn btn-sm btn-default">BG 3</a>
    <a class="bg4 btn btn-sm btn-default">BG 4</a>
    <a class="bg5 btn btn-sm btn-default">BG 5</a>
    <a class="bg6 btn btn-sm btn-default">BG 6</a>
    <a class="bg8 btn btn-sm btn-default">BG pat 8</a>
    <a class="bg9 btn btn-sm btn-default">BG pat 9</a>
  </div>
  <!--
  <div class="btn-group" role="group">
    <a class="p1 btn btn-sm active btn-default">pageBG1</a>
    <a class="p2 btn btn-sm btn-default">pageBG2</a>
    <a class="p3 btn btn-sm btn-default">pageBG3</a>
    <a class="p4 btn btn-sm btn-default">pageBG4</a>
  </div>
  -->
  <div class="btn-group" role="group">
    <a class="hd1 btn btn-sm btn-default">Head blue</a>
    <a class="hd2 btn btn-sm active btn-default">Head light</a>
  </div>
  
</div>
#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
(function ($) {
  'use strict';

  $(document).ready(function () {
    
    $(function () {
        setNavigation();
    });

    function setNavigation() {
        var path = window.location.pathname;
        path = path.replace(/\/$/, "");
        path = decodeURIComponent(path);

        $("#hpages a").each(function () {
            var href = $(this).attr('href');
            if (path.substring(0, href.length) === href) {
                $(this).addClass('active');
            }
        });
    }
    // style toggle
    $('.m1').click(function (){
      $('#stylesheet').attr('href','/css/main.css');
      $(this).addClass('active');
      $(this).siblings().removeClass('active');
    });
    $('.m2').click(function (){
      $('#stylesheet').attr('href','/css/main1.css');
      $(this).addClass('active');
      $(this).siblings().removeClass('active');
    });
    $('.m3').click(function (){
      $('#stylesheet').attr('href','/css/main2.css');
      $(this).addClass('active');
      $(this).siblings().removeClass('active');
    });
    
    // bg toggle
    $('.bg1').click(function (){
      $('.cat-header').css('backgroundImage','url(/img/cat-header1.jpg)');
      $(this).addClass('active');
      $(this).siblings().removeClass('active');
    });
    $('.bg3').click(function (){
      $('.cat-header').css('backgroundImage','url(http://thelaneorg.com/wp-content/uploads/2013/09/bigstock-Businesswoman-Working-At-Her-O-54866588-copy.jpg)');
      $(this).addClass('active');
      $(this).siblings().removeClass('active');
    });
    $('.bg4').click(function (){
      $('.cat-header').css('backgroundImage','url(http://www.makdeniz.com/wp-content/uploads/2012/05/bigstock_folder_2801331.jpg)');
      $(this).addClass('active');
      $(this).siblings().removeClass('active');
    });
    $('.bg5').click(function (){
      $('.cat-header').css('backgroundImage','url(http://www.rponte.com.br/wp-content/uploads/2016/04/files-and-folders-tiny-1200x627.jpg)');
      $(this).addClass('active');
      $(this).siblings().removeClass('active');
    });
     $('.bg6').click(function (){
      $('.cat-header').css('backgroundImage','url(https://userscontent2.emaze.com/images/8f2d7177-a80b-4d83-94cb-40c00ca7a364/bceb8c3192dec238c4746bb10209af85.jpeg)');
      $(this).addClass('active');
      $(this).siblings().removeClass('active');
    });
    $('.bg8').click(function (){
      $('.cat-header').css('backgroundImage','url(/img/cat-header2.jpg)');
      $(this).addClass('active');
      $(this).siblings().removeClass('active');
    });
    $('.bg9').click(function (){
      $('.cat-header').css('backgroundImage','url(/img/cat-header3.jpg)');
      $(this).addClass('active');
      $(this).siblings().removeClass('active');
    });
    
    //page color
    /*
    $('.p1').click(function (){
      $('.page-cat, .page-doc').css('backgroundColor','#f3f9f9');
      $(this).addClass('active');
      $(this).siblings().removeClass('active');
    });
    $('.p2').click(function (){
      $('.page-cat, .page-doc').css('backgroundColor','#ffffff');
      $(this).addClass('active');
      $(this).siblings().removeClass('active');
    });
    $('.p3').click(function (){
      $('.page-cat, .page-doc').css('backgroundColor','#f7fdff');
      $(this).addClass('active');
      $(this).siblings().removeClass('active');
    });
    $('.p4').click(function (){
      $('.page-cat, .page-doc').css('backgroundColor','#fefff7');
      $(this).addClass('active');
      $(this).siblings().removeClass('active');
    });
    */
    
    //header color
    $('.hd1').click(function (){
      $('.subheader').removeClass('subheaderlight');
      $(this).addClass('active');
      $(this).siblings().removeClass('active');
    });
    $('.hd2').click(function (){
      $('.subheader').addClass('subheaderlight');
      $(this).addClass('active');
      $(this).siblings().removeClass('active');
    });
    
  }); //end ready

}(jQuery));
</script>
<!-- .STYLE CHANGE -->
