/*
  Base
*/
body{
  color:$text-main;
  font-family: 'Roboto', Arial, sans-serif;
  background: $body-bg;
  position: relative;
}
a{
  transition: $tease;
  color: $link-blue;
  
  &:active,
  &:focus,
  &:hover{
    color: $link-blue-active;
    text-decoration: underline;
  } 
}



