/*
  Base
*/
body{
  color:$text-main;
  font-family: 'Roboto', Arial, sans-serif;
  background: $body-color;
  position: relative;
}
a{
  transition: $transition;
  color: $links-color;
  
  &:active,
  &:focus,
  &:hover{
    color: $link-color-active;
    text-decoration: underline;
  } 
}



