/*Doc page*/

.page-cat {
  background: rgba(242,242,242,1);
  .wrapper{
    padding: 0 0 0 0;
    overflow: hidden;
  }
}
.cat-header {
  padding: 90px 20px 20px 20px;
  background-position: center;
  background-size: cover;
  background-image: url(/img/cat-header.jpg);
  position: relative;
  color:#fff;
  
  &:after{
    z-index: 1;
    position: absolute 0 0 0 0;
    background: #1b6d7b;
    opacity: .8;
    content: '';
    display: block;
  }
  .row{
    position: relative;
    z-index: 2;
  }
  .bread{
    position: relative;
    z-index: 2;
    color:#fff;
    font-weight: 300;
    font-size: 13px;
    text-align: left;
    
    @media (max-width: $XM){
      text-align: center;
    }
    ol{
      padding: 0;
      margin-bottom: 10px;
      
      li{
        color:#fff;
        a{
          color:#ffee36;
        }
      }
    }
  }
  
  h1{
    font-weight: 300;
    font-size: 25px;
    margin-top: 14px;
    margin: 3px 0 15px 0;
  }
  .ic{
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }
  .chosen-select{
    height: 34px;
    color: #000;
    background: #ececec;
    border-radius: 2px;
    border: 0;
  }
  .chosen-container-multi .chosen-choices{
    box-shadow: none;
  }
  .chosen-select .chosen-container-multi .chosen-choices .search-field input[type="text"] {
      color: #ffffff;
  }
  .chosen-container-multi .chosen-choices {
    background-color: #4faabb;
    border-color: #4faabb;
  }
  .chosen-container-multi .chosen-choices .search-field input[type="text"] {
    color: #ffffff;
    height: 40px;
    padding-left: 15px;
  }
  .chosen-container-multi .chosen-choices:after{
    border-top: 5px solid #fff;
    top: 19px;
    right: 14px;
  }
  .chosen-container-active .chosen-choices .search-field input[type="text"]{
      color: #ffffff!important;
  }
  .chosen-container-multi .chosen-choices .search-choice{
    line-height: 29px;
    padding: 3px 30px 3px 10px;
    background: #fff;
    color: #2a7e90;
  }
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close{
    right: 10px;
    color: #2a7e90;
  }
  .total{
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    margin-top: 15px;
  }
  
  @media (max-width: $XM){
    text-align: center;
    padding: 70px 15px 15px 15px;
    
    .ic{
      float: none;
      /*display: inline-block;*/
      margin-right: 0;
      display: none;
    }
    .total{
      margin-bottom: 0;
      
    }
    .cat-text{
      display: none;
    }
  }/*@media*/
}/*.cat-header*/

.cat_h2 {
  .chosen-select{
    height: 34px;
    color: #888;
    background: #ececec;
    border-radius: 2px;
    border: 1px solid #ccc;
    display: block;
    width: 100%!important;
    float: none!important;
    margin: 10px 0;
  }
}
.ic {
  display: block;
  margin-bottom: 15px;
  width: 55px;
  height: 55px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}

.ic-business-w{
  background-image: url(/img/ico/ico1_w.svg);
}
.ic-legal-w{
  background-image: url(/img/ico/ico2_w.svg);
}
.ic-financial-w{
  background-image: url(/img/ico/ico3_w.svg);
}
.ic-misc-w{
  background-image: url(/img/ico/ico4_w.svg);
}
.ic-edu-w{
  background-image: url(/img/ico/ico5_w.svg);
}
.ic-med-w{
  background-image: url(/img/ico/ico6_w.svg);
}

.cat-text{
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  padding: 0 30px;
  
  @media (max-width: $SM){
    padding: 0;
  }
}

.cat-content{
  padding: 30px 0;
  @media (max-width: $toM){
    padding: 20px 0;
  }
}
.cat_h2{
  margin-bottom: 15px;
  @media (max-width: $toM){
    margin-bottom: 15px;
  }
  h2{
    position: relative;
    font-size: 26px;
    font-weight: 300;
    margin-top: 3px;
    @media (max-width: $toM){
      font-size: 20px;
      text-align: center;
    }
    span{
      background: #f2f2f2;
      padding-right: 10px;
      position: relative;
      z-index: 2;
    }
    /*
    &:after{
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      background: #ddd;
      top: 50%;
      position: absolute;
    }*/
  }
  .cat_actions{
    float: right;
    position: relative;
    z-index: 5;
    background: #f1f1f1;
    top: -3px;
    @media (max-width: $toM){
      width: auto;
      float: none;
      margin-bottom: 15px;
      top: 0px;
    }
  }
  .catfilter{
    width: 200px;
    float: right;
    margin-right: 5px;
    position: relative;
    z-index: 2;
    @media (max-width: $toM){
      width: auto;
      float: none;
      margin-bottom: 15px;
    }
    input{
      border: 1px solid #ddd;
    }
    &:after{
      content: '\f0b0';
      font-size: 20px;
      position: absolute 5px 10px * *;
      font-family: FontAwesome;
      color: #b7b7b7;
    }
  }
}

.cat_list{
  
  .cat_item{
    padding: 15px;
    border: 1px solid #dedede;
    margin: -1px 0 0 0;
    overflow: hidden;
    
    &:nth-child(2n){
      background: #ededed;
      .idocs{
        &:after{
          background: linear-gradient(to right,  rgba(255,255,255,0) 0%, rgb(237, 237, 237) 50%);
          position: absolute 0 0 * *;
        }
      }
    }
    
    h4{
      margin: 5px 0 4px 11px;
      font-size: 22px;
      line-height: 1.5;
      
      @media (max-width: $toM){
        text-align: center;
        font-size: 18px;
      }
      
      a{
        text-decoration: underline;
        
        &:active,
        &:focus,
        &:hover{
          text-decoration: none;
        }
      }
    }
    .istat{
      margin: 0 0 0 10px;
      
      b{
        background: $subcolor;
        color: $subcolortext;
        padding: 1px 0px;
        border-radius: 3px;
        display: block;
        font-size: 21px;
        float: left;
        font-weight: 300;
        min-width: 40px;
        text-align: center;
      }
      em{
        font-size: 12px;
        line-height: 12px;
        display: block;
        float: left;
        padding: 6px 10px;
        color: #888;
      }
      @media (max-width: $toM){
        width: auto;
        float: none;
        margin-bottom: 15px;
        overflow: hidden;
        
        .btn{
          float: right;
        }
      }
    }/*istat*/
    
    .idocs{
      overflow: hidden;
      position: relative;
      margin: 0 -5px;
      
      &:after{
        content: '';
        display: block;
        height: 100%;
        width: 50px;
        background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(242,242,242,1) 50%);
        position: absolute 0 0 * *;
      }
      
      ul{
        width: 2200px;
        overflow: hidden;
        padding: 0;
        margin: 0;
        list-style: none;
        
        li{
          float: left;
          width: 190px;
          
          @media (max-width: $toM){
            width: 160px;
          }
        }
      }
    }
  }
}


.tem_list{
  
  .tem_item{
    padding: 15px;
    border: 1px solid #dedede;
    margin: -1px 0 0 0;
    
    &:nth-child(2n){
      background: #ededed;
      .idocs{
        &:after{
          background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%);
          position: absolute 0 0 * *;
        }
      }
    }
    .tem-descr{
      
      h4{
        margin: 10px 0 15px 0px;
        font-size: 20px;

        a{
          color: $link-color;

          &:active,
          &:focus,
          &:hover{
            text-decoration: none;
          }
        }
      }
      .tem-info{
        color: #000;
        padding: 0 0 10px 0;
        
        .stars{
          display: inline-block;
          margin-right: 20px;
          color: #cecece;
          .fa-star{
            color: #cecece;
            &.active{
              color: #e8d218;
            }
          }
        }
        .types{
          margin-right: 20px;
          @media (max-width: $MH){
            display:block;
            margin-top:10px;
          }
          .label{
            color: #000;
            border-radius: 3px;
            font-size: 11px;
            vertical-align: middle;
            position: relative;
            top: -2px;
            padding: .4em .6em .3em;
          }
        }
        .specs{
          font-weight: 300;
          margin-top: 10px;
        }
      }
      .btn{
        @media (max-width: $M){
          display: block;
          font-size: 18px;
        }
      }
    }
  }
}

.search-results{
  text-align: center;
}
/*
.cat-temp{
  .cat-content{
    background: #fff;
    
    .cat_h2{
      h2{
        span{
          background: #fff;
        }
      }
    }

    .cat_list .cat_item .idocs:after{
      background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgb(255, 255, 255) 50%);
    }
    .cat_list .cat_item:nth-child(2n) .idocs:after {
      background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgb(237, 237, 237) 50%);
    }
  }
}
*/


.temp-content{
  margin-bottom: 40px;
}

.list-opener{
  position: relative;
  overflow: hidden;
  max-height: 720px;
  position: relative;
  transition: $transition;
  
  &.active{
    padding-bottom: 70px;
  }
}
#list-opener{
  &.active{
    max-height: 3000px;
  }
}


.list-loader{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,#f2f2f2 40%);
  padding: 40px 0 0 0;

  &:after{
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    border-bottom: 1px dashed #ccc;
    top: 60px;
    position: absolute;
  }
  a{
    position: relative;
    z-index: 2;
  }

}

.cat_list_sm.cat_list{
  background: #fbfafa;
  margin-top: 45px;
  
  .cat_item {
    padding: 15px;
    border: 0;
    .istat{
      float:right;
      margin: -8px -8px -8px 0;
      
      b{
        background: transparent;
        border: 1px solid #e0e0e0;
        color: #888;
      }
    }
    a.cat-link{
      font-size: 16px;
    }
  }
}
.holder{
  padding: 0 5px;
}
.docs-holder{
  padding: 0;
  list-style: none;
  
  .f-item{
  padding: 5px 0 10px 0;
  
  }
}

/*JS MAP*/
.mapdiv{
  h3{
    margin-top: 0;
  }
  .tab-content > .tab-pane:not(.active), 
  .pill-content > .pill-pane:not(.active){
    height:auto;
    opacity: 1;
  }
  .tab-content{
    position: relative;
    height: 200px;
  }
  .tab-pane{
    position: absolute 0 0 0 0;
    z-index: 0;
  }
  .tab-pane.active{
    z-index: 1;
  }
  .jqvmap-label{
    z-index: 2; 
  }
  .jqvmap-zoomin {
    width: 30px;
    height: 30px;
    line-height: 25px;
    font-size: 20px;
    background: #3cbcd4;
  }
  .jqvmap-zoomout {
    width: 30px;
    height: 30px;
    top: 50px;
    line-height: 30px;
    line-height: 25px;
    font-size: 20px;
    background: #3cbcd4;
  }
  .jqvmap-pin {
    cursor: default;
    pointer-events: none;
  }

  /* Hide Whichever Labels you want */
  #jqvmap1_ri_pin, #jqvmap1_dc_pin, #jqvmap1_de_pin, #jqvmap1_md_pin {
    display: none;
  }
  /* Reposition Labels that are not quite right ( labels are centered in shape, and sometimes need tweaking ) */

  #jqvmap1_ak_pin {
    margin-top: -2%;
  }
  #jqvmap1_ca_pin {
    margin-left: -2%;
  }
  #jqvmap1_ct_pin {
    margin-top: -0.25%;
    margin-left: -0.25%;
  }
  #jqvmap1_fl_pin {
    margin-left: 5%;
  }
  #jqvmap1_id_pin {
    margin-top: 3%;
    margin-left: -1%;
  }
  #jqvmap1_ky_pin {
    margin-left: 2%;
  }
  #jqvmap1_la_pin {
    margin-left: -2%;
  }
  #jqvmap1_mi_pin {
    margin-top: 4%;
    margin-left: 3%;
  }
  #jqvmap1_ma_pin {
    margin-top: -0.25%;
  }
  #jqvmap1_mn_pin {
    margin-top: 2%;
    margin-left: -2%;
  }
  #jqvmap1_nh_pin {
    margin-top: 1%;
    margin-left: -0.25%;
  }
  #jqvmap1_nj_pin {
    margin-top: 1%;
  }
  #jqvmap1_ok_pin {
    margin-left: 2%;
  }
  #jqvmap1_va_pin {
    margin-left: 2%;
  }
  #jqvmap1_wv_pin {
    margin-left: -1%;
    margin-top: 1%;
  }

  /* Add responsibe support to resize labels for difference screen sizes */
  @media only screen and (min-width: 320px) {
    .jqvmap-pin {
      font-size: 6px;
    }
  }
  @media only screen and (min-width: 480px) {
    .jqvmap-pin {
      font-size: 8px;
    }
  }
  @media only screen and (min-width: 640px) {
    .jqvmap-pin {
      font-size: 10px;
    }
  }
  @media only screen and (min-width: 800px) {
    .jqvmap-pin {
      font-size: 12px;
    }
  }
  @media only screen and (min-width: 1024px) {
    .jqvmap-pin {
      font-size: 14px;
    }
  }

  .mapmenu .nav-tabs>li.active>a, 
  .mapmenu .nav-tabs>li.active>a:focus, 
  .mapmenu .nav-tabs>li.active>a:hover{
      color: #fff;
      background-color: #a5bfdd;
  }
  
}
.mapcont{
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
  border-left:1px solid #ddd;
}
.mapper{
  width: 100%;
  height: 200px;
  background-color: white;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#vmap{
  /* This breaks it also */
  position: absolute;
  top: 100px;
  left: 40px;
}


/* END JS MAP*/
.browse_type{
  h3{
    margin-top: 0;
  }
  .type_tags{
    position: relative;
    padding-bottom: 40px;
    line-height: 29px;
    max-height: 105px;
    overflow: hidden;

    .list-loader {
      padding: 20px 0 0 0;
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,#ffffff 40%);
      &:after {
        top: 35px;
      }
    }
    .label{
        background: #c7e5ea;
        color: #000;
        font-weight: 400;
        font-size: 13px;
      &:hover{
        color: $button-blue-text;
        background: $button-blue;
      }
    }
  }
}
.cat_list .cat_item_style2{
  position: relative;
  padding: 15px 15px 0 15px;
  .cmore{
    position: absolute 50% 25px * *;
    text-align: center;
    margin-top: -15px;
    @media (max-width: $MH){
      position: relative auto auto auto auto;
      display:block;
      margin:0 0 10px 0;
      width: 100%;
    }
    b{
      display: block;
      font-size: 24px;
      line-height: 1;
      @media (max-width: $MH){
        display: inline ;
        font-size: inherit;
        line-height: inherit;
      }
    }
  }
  .idocs{
    &:after{
      width: 100px;
    }
    .f-item{
      .f-pic{
        position: relative;
        span{
          position: absolute * 0 0 0;
          border-bottom: 3px solid #3cbcd4;
          font-size: 15px;
          line-height: 18px;
          padding: 65px 15px 10px 15px;
          background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 44%,rgba(255,255,255,1) 63%);

          @media (max-width: $toM){
            font-size: 12px;
            line-height: 1.2;
          }
        }
      }
    }
  }
}
.cat_item_style2{
    .f-item{
      .f-pic{
        position: relative;
        span{
          position: absolute * 0 0 0;
          border-bottom: 3px solid #3cbcd4;
          font-size: 15px;
          line-height: 18px;
          padding: 65px 15px 10px 15px;
          background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 44%,rgba(255,255,255,1) 63%);

          @media (max-width: $toM){
            font-size: 12px;
            line-height: 1.2;
          }
          b{
            font-size: 75%;
            margin-top: 5px;
          }
        }
      }
    }
}