/*Doc page*/

.page-doc {
  background: #f7fdff;
  position: relative;
  
  .pdf{
    display: block !important;
    transform-origin: left top 0;
  }
  .wrapper{
    padding: 120px 0 0 0;
    overflow: hidden;
    @media (max-width: $XM){
      padding: 110px 0 0 0;
    }
  }
  .bread{
    text-align: left;
    max-width: 960px;
    margin: 0 auto;
  }
}
.doc-header {
  max-width: 952px;
  margin: 20px auto 0;
  padding: 10px 30px 80px;
  border: 1px solid #d2d2d2;
  @media (max-width: $toM){
    border: 0;
    margin: 0;
    padding: 10px 15px 80px;
  }
  
  h1{
    color: #000;
    float: left;
    margin: 20px 55px 0;
  }
  
  /* move ribbon in header
  .lined{
    font-size: 30px;
    text-align: center;
    line-height: 1;
    font-weight: 300;
    margin: 0px 0 15px 0;
    @media (max-width: $toM){
      font-size: 24px;
      font-size: 24px;
      margin: 0px 0 10px 0;
    }
    
    span{
      
      display: inline-block;
      position: relative;
      background: $subcolor;
      color: $subcolortext;
      padding: 5px 20px;
      
      @media (max-width: $toM){
        background: transparent;
        color: #000;
      }
     
      &:after{
        content: '';
        display: block;
        height: 100%;
        width: 40px;
        background: $subcolor;
        transform: skewX(-20deg);
        position: absolute 0 -20px * *;
        @media (max-width: $toM){
          display: none;
        }
      }
      &:before{
        content: '';
        display: block;
        height: 100%;
        width: 40px;
        background: $subcolor;
        transform: skewX(-20deg);
        position: absolute 0 * * -20px;
        @media (max-width: $toM){
          display: none;
        }
      }
     
    }
  }*/
  
  div{
    font-size: 14px;
    color: #5c5c5c;
    @media (max-width: $toM){
      font-size: 14px;
    }
    p {
      margin: 0 0 5px;
    }
  }
  
  &.noribbon{
    margin: 0px auto -1px;
    padding: 10px 10px 30px;
    .doc-pages {
      max-width: none;
      margin-top: 0;
    }
  }
  
}
.doc-pages{
  max-width: 940px;
  margin: 0 auto;
  margin-top: -105px;
  
  ul{
    padding: 0 50px;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0px 50px;
    
    li{
      float: left;
      padding: 30px 15px;
      
      a{
        width: 90px;
        display: block;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
        
        img{
          width: 100%;
        }
        &:hover{
          box-shadow: $bsh2 , 0 0 0 2px $subcolor;
        }
      }
      &.active a{
        box-shadow: $bsh , 0 0 0 2px $subcolor;
        transform: scale(1.1);
      }
    }
    .owl-item li a{
      width: 100%;
    }
  }
  .owl-theme .owl-controls .owl-buttons .owl-next,
  .owl-theme .owl-controls .owl-buttons .owl-prev{
    margin-top: -25px;
    font-size: 60px;
    color: #31a4ba;
  }
  .owl-theme .owl-controls .owl-buttons .owl-next{right:10px;}
  .owl-theme .owl-controls .owl-buttons .owl-prev{left:10px;}
  .owl-wrapper-outer{
    position: relative;
    /*
    &:after{
      content: '';
      display: block;
      height: 100%;
      width: 50px;
      background: linear-gradient(to right,  rgba(255,255,255,0) 0%, #f7fdff 50%);
      position: absolute 0 0 * *;
    }
    */
  }
  .owl-theme .owl-controls {
    margin-top: -20px;
    text-align: center;
  }
  .owl-pagination{
    display: none;
  }
}

.page-doc-top-a{
  /*box-shadow: $bsh;*/
  margin: 15px -10px -30px;
  border-top: 1px solid #d2d2d2;
  img{
    width: 100%
  }
}

.doc-container{
  max-width: 950px;
  margin: 0 auto;
  position: relative;
  
  @media (max-width: $XM){
    padding: 0;
  }
  .page-doc{
    box-shadow: 0 0 0 1px #d2d2d2; 
  }
  .page-doc-bot-a{
    box-shadow: $bsh;
    margin: 15px 0 0 0;
    
    img{
      width: 100%
    }
  }
  .page-doc-right-a{
    box-shadow: $bsh;
    position: absolute 0 * * 100%;
    margin-left: 20px;
  }
  .nav-pager{
    padding: 0 15px;
  }
  .page-wrap{
    position: relative;
    
    .share-doc{
      position: absolute 0 100% * *;
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
      
      @media (max-width: 1060px){
        position: relative auto auto * *;
        display: table;
        table-layout:fixed;
        width: 100%;
        li{
          display: table-cell;
          a{
            width: auto!important;
          }
        }
      }

      li{
        a{
          display: block;
          height: 50px;
          width: 50px;
          line-height: 50px;
          font-size: 24px;
          color: #b1b1b1;
          background: #ebebeb;
          text-align: center;

          &:active,
          &:focus,
          &:hover{
            text-decoration: none;
            color: $link-gray-active;
            background: $button-blue;
          }
        }
        &.sh-fb{
          a{
            background: #3b5998;
            color:#fff;
          }
        }
        &.sh-tw{a{background: #00aced;color:#fff;}}
        &.sh-pi{a{background: #bb0000;color:#fff;}}
        &.sh-go{a{background: #dd4b39;color:#fff;}}
      }
    }
  }/*page-wrap*/
}

.doc-action{
  background: #fff;
  box-shadow: $bsh;
  padding: 30px 30px 30px 30px;
  max-width: 940px;
  margin: 0 auto 40px;
  
  @media (max-width: $XM){
    margin: 0 15px 40px;
  }
  
  .doc-btns{
    margin-bottom: 15px;
    
    .btn{
      display: block;
      width: 100%;
      margin-bottom: 15px;
      i{
        display: block;
        margin-bottom: 15px;
        width: 22px;
        height: 22px;
        margin: 0 auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        float: left;
        margin-right: 10px;
      
        &.i1{
          background-image: url("../img/ico_download_black.svg");
        }
        &.i2{
          background-image: url("../img/ico_fill_black.svg");
        }
      }  
    }
  }
}

.mr{
  float: left;
  @media (max-width: $MH){
    float:none;
  }
  .m-rate{
    overflow: hidden;
    display: inline-block;
    font-size: 36px;
    padding: 1px 3px 1px 0;
    position: relative;
    vertical-align: middle;
    margin-right: 15px;
    @media (max-width: $M){
      font-size: 21px;
    }
    
    span {
      display: block;
      float: right;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      cursor: pointer;

      &:before {
        color: #dddddd;
        content: "";
        padding-right: 4px;
      }
      &:hover:before,
      &:hover ~ span:before{
        color: $subcolor;
        content: "";
      }
      &.starred:before{
        color: $subcolor;
        content: ""; 
      }
      &.starred-half:before{
        color: $subcolor;
        content: ""!important; 
      }
    }
  }

  .rgg{
    font-size: 14px;
    font-weight: 300;
    vertical-align: text-top;
    @media (max-width: $MH){
        float: right;
    }
  }
}

.share-doc-bottom{
  padding: 0;
  margin: 0;
  float: right;
  list-style: none;
  @media (max-width: $MH){
    float: none;
    text-align: center;
    margin-top: 20px;
  }
  li{
    display: inline-block;
    
    a{
      color:#b0b0b0;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      display: inline-block;
      font-size: 24px;
      text-decoration: none;
      text-align: center;
      @media (max-width: $M){
        font-size: 16px;
        width: 30px;
        height: 30px;
        line-height: 30px;
      }
      
      &:active,
      &:hover,
      &:focus{
        color: $subcolortext;
        text-decoration: none;
        background: $subcolor;
      }
    } 
  }
}

.rel-cats{
  background: #fff;
  box-shadow: $bsh;
  padding: 40px 30px 30px 40px;
  max-width: 940px;
  margin: 40px auto 40px;
  
  h3{
    font-size: 24px;
    text-align: center;
    line-height: 1;
    font-weight: 300;
    margin: 0px 0 30px 0;
    float: left;

    span{
      display: inline-block;
      position: relative;
      background: $subcolor;
      color: $subcolortext;
      padding: 10px 10px;

      &:after{
        content: '';
        display: block;
        height: 100%;
        width: 30px;
        background: $subcolor;
        transform: skewX(-20deg);
        position: absolute 0 -20px * *;
      }
      &:before{
        content: '';
        display: block;
        height: 100%;
        width: 30px;
        background: $subcolor;
        transform: skewX(-20deg);
        position: absolute 0 * * -20px;
      }
    }
  }
  .parcat{
    float: right;
    padding: 15px 0;
    a{
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      margin-left: 10px;
      text-decoration: underline;
      display: inline-block;
      padding: 2px 5px;
      
      &:active,
      &:hover,
      &:focus{
        color: $subcolortext;
        text-decoration: none;
        background: $subcolor;
      }
    }
  }
  .more-cats{
    font-size: 16px;
    
    @media (max-width: $M){
      text-align: center;
    }
    
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      
      li{        
        a{
          text-decoration: underline;
          
          &:active,
          &:hover,
          &:focus{
            text-decoration: none;
          }
        }
      }
    }
  }
  .cats-search{
    padding: 20px 0 0 0;
    text-align: center;
    
    a{
      border: $br;
      padding: 5px 14px;
      line-height: 1;
      display: inline-block;
      &:active,
      &:hover,
      &:focus{
        color: $subcolortext;
        text-decoration: none;
        background: $subcolor;
      }
      .fa{
        color: $subcolortext;
        font-size: 18px;
        width: 42px;
        height: 42px;
        line-height: 40px;
        border-radius: 50%;
        display: inline-block;
        background: $subcolor;
        margin: -13px 5px;
        border: 1px solid #fff;
        vertical-align: bottom;
      }
    }
  }
  
  @media (max-width: $M){
    margin-right: 15px;
    margin-left: 15px;
    
    h3, .parcat{
      float: none;
      text-align: center;
      margin: 0px 0 15px 0;
    }
    .cats-search{
      padding-top:40px;
    }
  }
  
} /*rel-cats*/

