/*Doc page*/

.page-doc {
  background: #f7fdff;
  position: relative;
  margin: auto;
  
  .pdf{
    display: block !important;
    transform-origin: left top 0;
  }
  .wrapper{
    padding: 98px 0 0 0;
    overflow: hidden;
  }
  .bread{
    text-align: left;
    max-width: 960px;
    margin: 0 auto;
    ol{
      color: #555;
      padding: 1px 5px;
      font-size: 12px;
    }
  }
  .subheader{
    border-bottom: 1px solid #d2d2d2;
  }
}
.doc-header {
  max-width: 952px;
  margin: 20px auto 0;
  padding: 10px 30px 80px;
  border: 1px solid #d2d2d2;
  @media (max-width: $toM){
    border: 0;
    margin: 0;
    padding: 10px 15px 80px;
  }
  
  h1{
    color: #555;
    margin: 10px 3px;
    font-size: 1.7em;
    @media (max-width: $toM){
      font-size: 1.2em;
    }
  }
  
  div{
    font-size: 12px;
    color: #5c5c5c;
    
    @media (max-width: $toM){
      font-size: 14px;
    }
    p {
      margin: 0 0 5px;
    }
  }
  
  &.noribbon{
    margin: 0px auto -1px;
    padding: 10px 10px 10px;
    .doc-pages {
      max-width: none;
      margin: 0;
    }
  }
  
}
.doc-pages{
  max-width: 940px;
  margin: -105px auto 0;
  
  .owl-carousel {
    overflow: hidden;
    padding: 0 30px;
    .da{
      padding: 10px 10px 30px;
      display: inline-block;
      position: relative;
      top: 0px;
      transition: $transition;

      img{
        width: 100%;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
      }
      &:hover{
        position: relative;
        top: -8px;
        img{
          box-shadow: 1px 6px 14px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px $subcolor;
        }
      }
      b{
        bottom: 21px;
        left: 50%;
        margin-left: -12.5px;
        position: absolute;
        display: block;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        border-radius: 30px;
        font-size: 10px;
        font-weight: 400;
        color: #f7fdff;
        background: #3cbcd4;
        z-index: 2;
      }
    }
    .owl-item.cur{
      position: relative;
      top: -8px;
      img{
        box-shadow: 1px 6px 20px rgba(0, 0, 0, 0.3), 0 0 0 2px #94d1dc;
      }
    }
  }
  .owl-dots{
    display: none;
  }
  .owl-wrapper-outer{
    position: relative;
  }
}

.owl-nav {
  margin-top: -20px;
  text-align: center;
  div{
    padding: 3px 0px;
    margin: 0;
  }
  .owl-next,
  .owl-prev{
    margin-top: -32px;
    font-size: 35px;
    color: #31a4ba;
    position: absolute 50% 0 * *;
    &:hover,
    &:focus,
    &:active{
      opacity: 1;
    }
    &.disabled{
      text-shadow: 1px -2px #c6e1e6;
      color: #d3eef3;
    }
    @media (max-width: $XM){
      margin-top: -26px;
      font-size: 30px;
    }
  }
  .owl-prev{
    left:0px;
    right:auto;
  }
}

.page-doc-top-a{
  margin: 5px -10px -8px;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  @media (max-width: $XM){
    margin: 5px -10px 0px;
  }
  img{
    width: 100%
  }
}

.doc-container{
  max-width: 950px;
  margin: 0 auto;
  position: relative;
  
  @media (max-width: $XM){
    padding: 0;
  }
  .page-doc{
    box-shadow: 0 0 0 2px #3cbcd4;
    overflow: hidden;
  }
  .doc-next, 
  .doc-prev{
    margin-top: -65px;
    font-size: 60px;
    color: #31a4ba;
    background: #fff;
    position: absolute 50% 0 * *;
    line-height: 1;
    display: block;
    zoom: 1;
    opacity: .5;
    cursor: pointer;
    padding: 30px 10px;
    
    &:hover,
    &:active,
    &:focus{
      opacity: 1;
    }
    @media (max-width: $XM){
      margin-top: -26px;
      font-size: 30px;
    }
  }
  .doc-prev{
    right: auto;
    left: 0;
  }
  .page-doc-bot-a{
    box-shadow: $bsh;
    margin: 0 0 0 0;
    
    img{
      width: 100%
    }
  }
  .page-doc-right-a{
    box-shadow: $bsh;
    position: absolute 0 * * 100%;
    margin-left: 10px;
  }
  .nav-pager{
    padding: 0 15px;
  }
  .page-wrap{
    position: relative;
    
    .share-doc{
      position: absolute 0 100% * *;
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
      
      @media (max-width: 1060px){
        position: relative auto auto * *;
        display: table;
        table-layout:fixed;
        width: 100%;
        margin-top: 5px;
        li{
          display: table-cell;
        }
      }

      li{
        a{
          display: block;
          height: 50px;
          width: 50px;
          line-height: 50px;
          font-size: 24px;
          color: #b1b1b1;
          background: #ebebeb;
          text-align: center;

          &:active,
          &:focus,
          &:hover{
            text-decoration: none;
            color: $link-gray-active;
            background: $button-blue;
          }
          @media (max-width: $XM){
            width: auto!important;
            height: 30px;
            line-height: 30px;
            font-size: 18px;
          }
        }
        &.sh-fb{
          a{
            background: #3b5998;
            color:#fff;
          }
        }
        &.sh-tw{a{background: #00aced;color:#fff;}}
        &.sh-pi{a{background: #bb0000;color:#fff;}}
        &.sh-go{a{background: #dd4b39;color:#fff;}}
      }
    }
  }/*page-wrap*/
}

.doc-action{
  background: #fff;
  box-shadow: $bsh;
  padding: 30px;
  max-width: 940px;
  margin: 0 auto 40px;
  
  @media (max-width: $XM){
    margin: 0 15px 15px;
    padding: 15px;
  }
  
  .doc-btns{
    margin-bottom: 15px;
    
    .btn{
      display: block;
      width: 100%;
      margin-bottom: 10px;
      text-align: center;
      font-size: 15px;
      @media (max-width: $XM){
        padding-right: 22px;
      }
      
      i{
        display: block;
        width: 22px;
        height: 22px;
        margin: 0 auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        float: left;
        margin: -1px 8px -3px -5px;
        opacity: .6;
      
        &.i1{
          background-image: url("../img/ico_download_black.svg");
        }
        &.i2{
          background-image: url("../img/ico_fill_black.svg");
        }
      }  
    }
  }
}

.mr{
  float: left;
  @media (max-width: $MH){
    float:none;
  }
  .m-rate{
    overflow: hidden;
    display: inline-block;
    font-size: 26px;
    padding: 1px 3px 1px 0;
    position: relative;
    vertical-align: middle;
    margin-right: 15px;
    @media (max-width: $M){
      font-size: 16px;
    }
    
    span {
      display: block;
      float: right;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      cursor: pointer;
      margin-right: 3px;

      &:before {
        color: #dddddd;
        content: "";
        padding-right: 4px;
      }
      &:hover:before,
      &:hover ~ span:before{
        color: $subcolor;
        content: "";
      }
      &.starred:before{
        color: $subcolor;
        content: ""; 
      }
      &.starred-half:before{
        color: $subcolor;
        content: ""!important; 
      }
    }
  }

  .rgg{
    font-size: 14px;
    font-weight: 400;
    vertical-align: text-top;
    @media (max-width: $MH){
        float: right;
    }
  }
}

.share-doc-bottom{
  padding: 0;
  margin: 0;
  float: right;
  list-style: none;
  @media (max-width: $MH){
    float: none;
    text-align: center;
    margin-top: 20px;
  }
  li{
    display: inline-block;
    
    a{
      color: #b0b0b0;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 50%;
      display: inline-block;
      font-size: 20px;
      text-decoration: none;
      text-align: center;
      margin-left: 10px;
      
      @media (max-width: $M){
        font-size: 16px;
        width: 30px;
        height: 30px;
        line-height: 30px;
      }
      
      &:active,
      &:hover,
      &:focus{
        color: $subcolortext;
        text-decoration: none;
        background: $subcolor;
      }
    } 
  }
}

.rel-cats{
  background: #fff;
  box-shadow: $bsh;
  padding: 40px 30px 30px 40px;
  max-width: 940px;
  margin: 40px auto 40px;
  @media (max-width: $M){
    padding: 20px;
    margin: auto;
  }
  h3{
    font-size: 24px;
    text-align: center;
    line-height: 1;
    font-weight: 300;
    margin: 0px 0 30px 0;
    float: left;

    span{
      display: inline-block;
      position: relative;
      background: $subcolor;
      color: $subcolortext;
      padding: 10px 10px;
  
      &:after{
        content: '';
        display: block;
        height: 100%;
        width: 30px;
        background: $subcolor;
        transform: skewX(-20deg);
        position: absolute 0 -20px * *;
      }
      &:before{
        content: '';
        display: block;
        height: 100%;
        width: 30px;
        background: $subcolor;
        transform: skewX(-20deg);
        position: absolute 0 * * -20px;
      }
      @media (max-width: $SM){
        background: transparent;
        font-size: 18px;
        margin: 0;
        padding: 0;
        color: #555;
        &:after,&:before{
          display: none;
        }
      }
    }
  }
  .parcat{
    float: right;
    padding: 15px 0;
    a{
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      margin-left: 10px;
      text-decoration: underline;
      display: inline-block;
      padding: 2px 5px;
      
      &:active,
      &:hover,
      &:focus{
        color: $subcolortext;
        text-decoration: none;
        background: $subcolor;
      }
    }
  }
  .more-cats{
    font-size: 16px;
    
    @media (max-width: $M){
      text-align: center;
      font-size: 13px;
    }
    
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      
      li{        
        a{
          text-decoration: underline;
          
          &:active,
          &:hover,
          &:focus{
            text-decoration: none;
          }
        }
      }
    }
  }
  .cats-search{
    padding: 20px 0 0 0;
    text-align: center;
    
    a{
      border: $br;
      padding: 5px 14px;
      line-height: 1;
      display: inline-block;
      &:active,
      &:hover,
      &:focus{
        color: $subcolortext;
        text-decoration: none;
        background: $subcolor;
      }
      .fa{
        color: $subcolortext;
        font-size: 18px;
        width: 42px;
        height: 42px;
        line-height: 40px;
        border-radius: 50%;
        display: inline-block;
        background: $subcolor;
        margin: -13px 5px;
        border: 1px solid #fff;
        vertical-align: bottom;
      }
    }
  }
  
  @media (max-width: $M){
    margin-right: 15px;
    margin-left: 15px;
    
    h3, .parcat{
      float: none;
      text-align: center;
      margin: 0;
    }
    .cats-search{
      padding-top:40px;
    }
  }
  
} /*rel-cats*/

