/*
  Theme
*/

.red{
  color: $red;
}
.green{
  color: $green;
}
.blue{
  color: $blue;
}
/*
* Bootstrap Theme
*/

.container {
  @media (max-width: $M){
  }
  @media (min-width: 1200px){
    width: 1230px;
  }
}
/*
* dropdown
*/
.dropdown.open{
  > a{
    background: $bg-dropdown;
    color: $link-color-active;
    box-shadow: $bsh;
  }
}

.dropdown-menu {
  background: $bg-dropdown;
  box-shadow: $bsh;
  padding: 0;
  margin: -1px 0;
  border: 0;
  border-radius: 0 0 $br $br;
  width: 100%;
  border: 1px solid #fff;
  
  li{
    
    &.active a{
      background: $button-blue;
      color: $button-blue-text;
    }
    
    a{
      color: $link-gray;
      padding: 10px 15px;
      
      &:active,
      &:focus,
      &:hover{
        text-decoration: none;
        color: $link-gray-active;
        background: $button-blue;
      }
    }
  }
}

/*
* Buttons
*/
.btn{
  border-radius: $br;
  box-shadow: $bsh;
  border: 0;
  cursor: pointer;
}
/*
{
  padding: 4px 12px 3px;
  border: 0;
  line-height: 1.5;
}
*/
.btn-success {
  color: #fff;
  background-color: $green;
  border-color: transparent;
}

.btn-xs{
  padding: 4px 8px 3px;
  font-size: 11px;
  line-height: 1;
  text-transform: uppercase;
  
  &.btn-default{
  color: #acacac;
  }
} 

.btn-sm{
  font-size: 13px;
  font-weight: 200px;
  padding: 3px 7px;
}
.btn-xl{
  font-size: 24px;
  font-weight: 300;
  padding: 10px 25px;
  
  @media (max-width: $MH){
    font-size: 18px;
  }
}
.btn-default{
  background: $button-blue;
  color: $button-blue-text;
  
  &:active,
  &:focus,
  &:hover{
    background: $button-blue;
    color: $button-blue-text;
  } 
}

.btn-default.active, .btn-default:active{
  color: $link-gray;
  background-color: $bg-dropdown;
}

.btn-primary{
  background: $subcolor;
  color: $subcolortext;
  
  &:active,
  &:focus,
  &:hover,
  &:active:hover{
    background: color($subcolor b(10%));
    color: $subcolortext;
  }
}

.open>.dropdown-toggle.btn{
  background-color: $bg-dropdown;
  color: $link-gray;
  border-radius: $br $br 0 0;
  position: relative;
  /*z-index: 1002;*/
}

body .open>.dropdown-toggle.btn-default:focus{
  background-color: $bg-dropdown;
  color: $link-gray;
}

.btn-border{
  background: transparent;
  border: 1px solid #888;
  color:#888;
  box-shadow: none;
  &:active,
  &:focus,
  &:hover{
    background: $subcolor;
    border-color: $subcolor;
    color: $subcolortext;
  }
  
  &.btn-primary{
    color: $link-color;
    &.active{
      color: #fff;
    }
    &:active,
    &:focus,
    &:hover{
      color: #fff;
    }
    
  }
  &.btn-white{
    border-color: #fff;
    color:#fff;
    &:active,
    &:focus,
    &:hover{
      color: $subcolortext;
      background: $subcolor;
    }
  }
  &.btn-success{
    color: $green;
  }
}
/*
* Popover
*/
.popover {
    background-color: $bg-dropdown;
    color: $link-color;
    border: 0;
    border-radius: $br;
    box-shadow: $bsh2;
    font-size: 12px;
    font-family:inherit;
}
.popover-title {
    background-color: $bg-dropdown;
    border-bottom: 1px solid color($bg-dropdown l(40%));
    border-radius: $br $br 0 0;
    font-size: 14px;
    margin: 0;
    padding: 10px 15px;
}
.popover.bottom > .arrow:after {
    border-bottom-color: $bg-dropdown;
}

/*
* Forms
*/
.form-control{
  border-radius: $br;
  background: $bg-form;
  border: 0;
  color: $text-main;
  
  &:active,
  &:focus,
  &:hover{
    box-shadow: inset 0 0 0px 1px rgb(29, 123, 197);
  }
}
.input-sm {
    height: 28px;
}



.breadcrumb{
  background-color: transparent;
  border-radius: 0;
}


::-webkit-input-placeholder {
  opacity: 1 !important;
}
:-moz-placeholder { /* Firefox 18- */
  opacity: 1 !important;
}
::-moz-placeholder {  /* Firefox 19+ */
  opacity: 1 !important;
}
:-ms-input-placeholder {  
  opacity: 1 !important;
}



/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
    display: block;
    height: 0;
    opacity: 0; 
    overflow-y: hidden;
} 
/* bootstrap hack end */


/*
Choosen
*/

.chosen-container-multi{
  
  .chosen-choices{
    background-color: transparent;
    border-color: #000;
    position: relative;
    
    &:after{
      content: "";
      display: inline-block;
      position: absolute 15px 10px * *;
      width: 0;
      height: 0;
      vertical-align: middle;
      border-top: 5px solid #000;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
    }
    
    .search-choice{
      background-color: $button-blue;
      border: 0;
      border-radius: $br;
      color: #fff;
      background-image:none;
      line-height: 19px;
      margin: 3px 0 3px 3px;
      
      .search-choice-close{
        font-family: 'FontAwesome';
        top: 3px;
        font-size: 16px;
        color: #fff;
        background: transparent;
        
        &:active,
        &:focus,
        &:hover{
          text-decoration: none;
          color: $link-color;
        }
      }
      .search-choice-close:before {
        content: "\f00d";
      }
      
    }
    .search-field input[type="text"]{
      color: #000;
      padding-left: 10px;
    }
  }
}
.chosen-container {
  .chosen-drop {
    background: #fff;
    border-color: #fff;
    border-bottom-right-radius: $br;
    border-bottom-left-radius: $br;
  }
  .chosen-results li.active-result{
    color: $link-color;
  }
}
.chosen-container-active.chosen-with-drop .chosen-choices{
  
}
.chosen-container-active .chosen-choices{
  box-shadow: none;
  border-color: color($button-blue l(60%));
  border-bottom-right-radius: $br;
  border-bottom-left-radius: $br;
  
  .search-field input[type="text"] {
    color: $link-color !important;
  }
}

/*
Choosen end
*/

/*
Modal
*/
.modal-backdrop{
  background-color: #31A4BA;
  &.in {
    filter: alpha(opacity=50);
    opacity:.8;
  }
}
.modal-content {
  background: #fff;
  border-radius: $br;
  border-width: 0;
  color: #333;
  border-radius: 0;
  box-shadow: 0 0 0 10px #FFF3, 0 0 10px 10px #0003;
  
  .modal-header{
    border-color: #eee;
    position: relative;
    text-align: center;
    .modal-title {
      text-transform: uppercase;
    }
    .close {
      color: #fff;
      font-size: 61px;
      opacity: 0.7;
      text-shadow: none;
      position: absolute -80px * * 50%;
      margin-left: -20px;
      
      &:hover{
      opacity: 1;
      }
    }
  }
  .modal-footer{
    border-color:#eee;
  }
}
.modal-dialog {
  margin: 90px auto 20px;
}
.modal-local{
  .modal-dialog {
  width: 800px;
  }
}
/*
Register
*/
.card-container.card {
    max-width: 350px;
    padding: 40px 40px;

    .btn {
        font-weight: 700;
        height: 36px;
        user-select: none;
        cursor: default;
    }

    /*
     * Card component
     */
    .card {
        background-color: #F7F7F7;
        padding: 20px 25px 30px;
        margin: 0 auto 25px;
        margin-top: 50px;
        border-radius: 2px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .profile-img-card {
        width: 96px;
        height: 96px;
        margin: 0 auto 10px;
        display: block;
        border-radius: 50%;
    }

    /*
     * Form styles
     */
    .profile-name-card {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin: 10px 0 0;
        min-height: 1em;
    }

    .reauth-email {
        display: block;
        color: #404040;
        line-height: 2;
        margin-bottom: 10px;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        box-sizing: border-box;
    }

    .form-signin #inputEmail,
    .form-signin #inputPassword {
        direction: ltr;
        height: 44px;
        font-size: 16px;
    }

    .form-signin input[type=email],
    .form-signin input[type=password],
    .form-signin input[type=text],
    .form-signin button {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        z-index: 1;
        position: relative;
        box-sizing: border-box;
    }

    .form-signin .form-control:focus {
        border-color: rgb(104, 145, 162);
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    }

    .btn.btn-signin {
        background-color: &subcolor;
        border: none;
        transition: all 0.218s;
    }

    .btn.btn-signin:hover,
    .btn.btn-signin:active,
    .btn.btn-signin:focus {
        background-color: rgb(12, 97, 33);
    }

    .forgot-password {
        color: rgb(104, 145, 162);
    }

    .forgot-password:hover,
    .forgot-password:active,
    .forgot-password:focus{
        color: rgb(12, 97, 33);
    }
}


/*
Modal end
*/

.label{
  font-weight: 300;
  border-radius: 0;
  font-size: 100%;
  padding: .2em .6em .2em;
}
.label-dash{
  background: transparent;
  border: 1px dashed;
}
.label-primary{
  background: $subcolor;
  color: $subcolortext;
}
.label-border{
  background: transparent;
  border: 1px solid;
}

.tooltip{
  .tooltip-inner {
    background-color: $subcolor;
    color: $subcolortext;
  }
  &.top .tooltip-arrow {
    border-top-color: $subcolor;
  }
}


.navbar-header {
  @media (max-width: $M){
    float: left;
  }
}