{% set title = "Category + Template Page" %}

<!DOCTYPE html>
<html>
<head lang="en"><!-- ADD -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>{{ title }}</title>
  
  {% include "template/head.html" %}
  
</head>
<body class="page-cat cat-temp">
  <div class="wrapper">
    {% include "template/header_cat.html" %}
    
    <section class="cat-header">
      <div class="container">
        {% include "template/breadcrumbs.html" %}
        <div class="row">
          <div class="col-sm-4">
            <i class="ic ic-business-w"></i> <h1> Business</h1>
              <select data-placeholder="Filter by country or State..." class="chosen-select" multiple tabindex="4">
                <option value=""></option>
                <option value="United States">United States</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="Afghanistan">Afghanistan</option>
                <option value="Albania">Albania</option>
                <option value="Algeria">Algeria</option>
              </select>
              <div class="total">Total 743 templates</div>
          </div>
          <div class="col-sm-8">
            <div class="cat-text">
              The Basic Resume Template is a template used for finding a job by applicants. An excellent resume template helps you find a proper job and saves you lots of time wandering around different recruit sites. This file teaches you how to stand out among various interviewees. It can decide whether you have the chance to attend the interview. Making a well-contented and well-structured resume will give you a bright future.
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <div class="cattempmenu">
      <div class="container">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#">Templates in this category <span class="label label-primary">123</span></a></li>
          <li role="presentation"><a href="#">Subcategories <span class="label label-default">13</span></a></li>
          <li role="presentation"><a href="#">Related categories <span class="label label-default">12</span></a></li>
        </ul>
      </div>
    </div>
    
    <section class="cat-content temp-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="cat_h2">              
              <div class="catfilter">
                <input type="text" class="form-control" placeholder="Type word to fast filter templates...">
              </div>
              <h2><span>Templates in Business</span></h2> 
            </div>
            <div class="tem_list clearfix loaded-list">
              {% for i in 0..5 %}
                <div class="tem_item">
                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-lg-2">
                      <div class="f-item">
                        <a href="" class="f-pic">
                          <img src="img/form.png" alt="">
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-8 col-md-10 col-lg-10">
                      <div class="tem-descr">
                        <h4><a href="">Certificate of Completion Template</a></h4>
                        <div class="tem-info">
                          <span class="stars">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star half-o active"></i>
                            <i class="fa fa-star-o"></i>
                          </span>
                          <span class="types">
                            <b class="label label-border">PDF</b>
                            <b class="label label-border">TXT</b>
                            <b class="label label-border">DOC</b>
                            <b class="label label-border">ONLINE</b>
                          </span>
                          <div class="specs">
                          6 page &nbsp;|&nbsp; Size: 123Mb &nbsp;|&nbsp; USA, California
                          </div>
                        </div>
                        <p>The Basic Resume Template is a template used for finding a job by applicants. An excellent resume template helps you find a proper job and saves you lots of time wandering around different recruit sites. 
                        </p>
                        <a href="" class="btn btn-default">View Form</a>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
              
              <div class="list-lader">
                <a href="" class="btn btn-xl btn-primary">See more forms</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
      
    <section class="cat-content">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="cat_h2">
              <div class="catfilter">
                <input type="text" class="form-control" placeholder="Type word to fast filter categories...">
              </div>
              <h2><span>Subcategories in Business</span></h2>
            </div>
           
            <div class="cat_list">
              {% for i in 0..5 %}
                <div class="cat_item">
                  <div class="istat">
                    <b>21</b>
                    <span>templates<br>in this category</span>
                    <a href="" class="btn btn-default">See more</a>
                  </div>
                  <h4><a href="">Certificate of Completion Template</a></h4>
                  <div class="idocs">
                    <ul>
                      {% for i in 0..5 %}
                      <li>
                        <div class="f-item">
                          <a href="" class="f-pic">
                            <img src="img/form.png" alt="">
                          </a>
                          <a href="" class="f-link">
                            <span>Principles of Drug Testing Technology</span>
                          </a>
                          <!--<a href="" class="f-cat label label-primary">Business</a>-->
                        </div>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              {% endfor %}
            </div>
            
            {% include "template/pager.html" %}
            
          </div>
          <div class="col-md-4">
            <div class="block">
              <h3>Related Categories</h3>
              <ul>
                <li><a href="">Agreement Template</a></li>
                <li><a href="">Bill of Sale Form</a></li>
                <li><a href="">Business Template</a></li>
                <li><a href="">Business Proposal Template</a></li>
                <li><a href="">Certificate Template</a></li>
                <li><a href="">Education Template</a></li>
                <li><a href="">Finance Template</a></li>
                <li><a href="">Home & Famliy Template</a></li>
                <li><a href="">Invoice Template</a></li>
                <li><a href="">Legal Template</a></li>
                <li><a href="">Letter Template</a></li>
                <li><a href="">List & Chart Template</a></li>
              </ul>
              <a href="" class="btn btn-border btn-block">More Related Categories</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    {% include "template/footer.html" %}
  </div>
  

  {% include "template/modals.html" %}
  
  {% include "template/scripts.html" %}

</body>
</html>