{% set title = "Category + Template Page" %}

<!DOCTYPE html>
<html>
<head lang="en"><!-- ADD -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>{{ title }}</title>
  
  {% include "template/head.html" %}
  
</head>
<body class="page-cat cat-temp">
  <div class="wrapper">
    {% include "template/header_cat.html" %}
    
    {% include "template/cat-header.html" %}
    
    <!--
    <div class="cattempmenu">
      <div class="container">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#">Templates in this category <span class="label label-primary">123</span></a></li>
          <li role="presentation"><a href="#">Subcategories <span class="label label-default">13</span></a></li>
          <li role="presentation"><a href="#">Related categories <span class="label label-default">12</span></a></li>
        </ul>
      </div>
    </div>
    -->
       
    <section class="cat-content">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="temp-content">
              <div class="cat_h2">              
                <div class="cat_actions">
                  <div class="sorter">
                    <div class="btn-group">
                      <button type="button" class="btn btn-border dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort by popularity <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Sort by name</a></li>
                        <li><a href="#">Sort by size</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="catfilter">
                    <input type="text" class="form-control" placeholder="Filter templates...">
                  </div>
                </div>
                <h2><span>Templates in Simple Invoice Template</span></h2> 
              </div>
              <div class="list-opener" id="list-opener">
                <div class="holder">
                  <ul class="row docs-holder cat_item_style2">
                    <li class="col-md-3 col-sm-4 col-xs-6">
                      <div class="f-item">
                        <a href="" class="f-pic">
                          <img src="img/form.png" alt="">
                          <span>Principles of Drug Testing Technology</span>
                        </a>
                      </div>
                    </li>
                    {% for i in 0..1 %}
                      <li class="col-md-3 col-sm-4 col-xs-6">
                        <div class="f-item">
                          <a href="" class="f-pic">
                            <img src="img/form.png" alt="">
                            <span>Principles of Drug Testing Technology Principles of Drug Testing Technology<!--<b class="f-cat label label-primary">Subcategory</b>--></span>
                          </a>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
                

                <div class="list-loader">
                    <a class="btn btn btn-primary">Expand</a>
                </div>
              </div> <!-- temp opener -->
            </div>
           
            <div class="cat_h2">
              <div class="cat_actions">
                <div class="sorter">
                  <div class="btn-group">
                    <button type="button" class="btn btn-border dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Sort by popularity <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Sort by name</a></li>
                      <li><a href="#">Sort by size</a></li>
                    </ul>
                  </div>
                </div>
                <div class="catfilter">
                  <input type="text" class="form-control" placeholder="Filter templates...">
                </div>
              </div>
              <h2><span>Subcategories in Business</span></h2>
            </div>
           
            <div class="cat_list">
              <div class="cat_item cat_item_style2">
                  <h4><a href="">Certificate of Completion Template</a></h4>
                  <div class="idocs">
                    <ul>
                      {% for i in 0..5 %}
                      <li>
                        <div class="f-item">
                          <a href="" class="f-pic">
                            <img src="img/form.png" alt="">
                            <span>Principles of Drug Testing Technology</span>
                          </a>
                        </div>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <a href="" class="cmore btn btn-default pull-right">See more <b>21</b> templates</a>
              </div>
              {% for i in 0..5 %}
                <div class="cat_item cat_item_style2">
                  <h4><a href="">Certificate of Completion Template</a></h4>
                  <div class="idocs">
                    <ul>
                      {% for i in 0..5 %}
                      <li>
                       <!--
                        <div class="f-item">
                          <a href="" class="f-pic">
                            <img src="img/form.png" alt="">
                          </a>
                          <a href="" class="f-link">
                            <span>Principles of Drug Testing Technology</span>
                          </a>
                        </div>
                        -->
                        <div class="f-item">
                          <a href="" class="f-pic">
                            <img src="img/form.png" alt="">
                            <span>Principles of Drug Testing Technology</span>
                          </a>
                        </div>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <a href="" class="cmore btn btn-default pull-right">See more <b>21</b> templates</a>
                </div>
              {% endfor %}
            </div>
            
            {% include "template/pager.html" %}
            
          </div>
          <div class="col-md-4">
            <div class="block">
              <h3>Related Categories</h3>
              <ul>
                <li><a href="">Agreement Template</a></li>
                <li><a href="">Bill of Sale Form</a></li>
                <li><a href="">Business Template</a></li>
                <li><a href="">Business Proposal Template</a></li>
                <li><a href="">Certificate Template</a></li>
                <li><a href="">Education Template</a></li>
                <li><a href="">Finance Template</a></li>
                <li><a href="">Home & Famliy Template</a></li>
                <li><a href="">Invoice Template</a></li>
                <li><a href="">Legal Template</a></li>
                <li><a href="">Letter Template</a></li>
                <li><a href="">List & Chart Template</a></li>
              </ul>
              <a href="" class="btn btn-border btn-block">More Related Categories</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    {% include "template/footer.html" %}
  </div>
  

  {% include "template/modals.html" %}
  
  {% include "template/scripts.html" %}

</body>
</html>
 