{% set title = "Index Page" %}
{% set docname = ['Principles of Drug Testing Technology Principles of Drug Testing Technology Principles of Drug Testing Technology Principles of Drug Testing Technology', 'Principles of Drug Testing Technology', 'Principles'] %}

<!DOCTYPE html>
<html>
<head lang="en"><!-- ADD -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>{{ title }}</title>
  
  {% include "template/head.html" %}
  
</head>
<body class="index">
  <div class="wrapper">
    {% include "template/header.html" %}
      
      <section class="main-slider">
        <ul>
          <li class="slide" style="background-image:url(img/slide1.jpg)" alt=""></li>
        </ul>
        
        <div class="sl-content">
            <div class="sl-logo"></div>
            <h2>All professional Templates & Forms online</h2>
            <div class="mainsearch">
              {#<input type="text" placeholder="Search form" class="form-control" id="typehead">#}
              <form action="search-google.html" method="GET">
                <input type="text" name="q" placeholder="Search documents" class="form-control">
              </form>
              <a class="searcher" onclick="$(this).closest('form').submit();"><span class="fa fa-search"></span></a>
            </div>
          <!--
          <div class="bycountry">
            <a href="#"><i class="globe"></i><span>Get your form by country or state</span></a>
          </div>
          -->
          <a href="#" class="mouse"><i></i></a>
        </div>
      </section>
      
      <section class="nums">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="icnms">
                <i class="ic1"></i>
                <b>Documents</b>
                <em>219081</em>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icnms">
                <i class="ic2"></i>
                <b>Categories</b>
                <em>532</em>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icnms">
                <i class="ic3"></i>
                <b>Disc Space</b>
                <em>45<sup>Tb</sup></em>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <section class="cats">
        <h3 class="lined"><span>Popular Categories</span></h3>
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="citem">
                <i class="i1"></i>
                <h3><a href="">Business forms</a></h3>
                <ul>
                  <li><a href="">Basic Resume Template Timeless </a></li>
                  <li><a href="">Design Functional Resume Template</a></li>
                  <li><a href="">CV Template</a></li>
                </ul>
                <a href="" class="btn btn-sm btn-border">View templates</a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="citem">
                <i class="i2"></i>
                <h3><a href="">Legal forms</a></h3>
                <ul>
                  <li><a href="">General power of attorney form </a></li>
                  <li><a href="">Power of attorney form ohio</a></li>
                  <li><a href="">Business resolution</a></li>
                </ul>
                <a href="" class="btn btn-sm btn-border">View templates</a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="citem">
                <i class="i3"></i>
                <h3><a href="">Financial forms</a></h3>
                <ul>
                  <li><a href="">Basic Resume Template Timeless </a></li>
                  <li><a href="">Design Functional Resume Template</a></li>
                  <li><a href="">CV Template</a></li>
                </ul>
                <a href="" class="btn btn-sm btn-border">View templates</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="citem">
                <i class="i4"></i>
                <h3><a href="">Misc subcategory</a></h3>
                <ul>
                  <li><a href="">Basic Resume Template Timeless </a></li>
                  <li><a href="">Design Functional Resume Template</a></li>
                  <li><a href="">CV Template</a></li>
                </ul>
                <a href="" class="btn btn-sm btn-border">View templates</a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="citem">
                <i class="i5"></i>
                <h3><a href="">Education forms</a></h3>
                <ul>
                  <li><a href="">Basic Resume Template Timeless </a></li>
                  <li><a href="">Design Functional Resume Template</a></li>
                  <li><a href="">CV Template</a></li>
                </ul>
                <a href="" class="btn btn-sm btn-border">View templates</a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="citem">
                <i class="i6"></i>
                <h3><a href="">Medical forms</a></h3>
                <ul>
                  <li><a href="">Basic Resume Template Timeless </a></li>
                  <li><a href="">Design Functional Resume Template</a></li>
                  <li><a href="">CV Template</a></li>
                </ul>
                <a href="" class="btn btn-sm btn-border">View templates</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <section class="hotforms">
        <h3 class="lined2"><span>HOT forms</span></h3>
        <div class="f-slider">
          <ul class="f-slider">
            {% for i in 0..10 %}
              <li>
                <div class="f-item">
                  <a href="" class="f-pic">
                    <!--<img src="img/form.png" alt="">-->
                    <img src="http://test.formsbank.com/files/pdf_docs_html/5/page_1_thumb.png" alt="">
                  </a>
                  <a href="" class="f-link">
                    <span>{{random(docname)}}</span>
                  </a>
                  <a href="" class="f-cat label label-primary">Business</a>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="btn-footer">
          <div class="container">
            <a href="" class="btn btn-lg btn-border">Find out more forms</a>
          </div>
        </div>
      </section>
      
      {% include "template/footer.html" %}
  </div>
  

  {% include "template/modals.html" %}
  
  {% include "template/scripts.html" %}

</body>
</html>
