<nav class="blognav clearfix">
  <div>
    <span class="bars">
      <i class="fa fa-bars"></i>
    </span>
    <div class="bsearch">
      <span class="searchopen"><i class="fa fa-search"></i></span>
      <!--
        <a href=""><i class="fa fa-ellipsis-h"></i> Explore</a>
      -->
    </div>
    <ul>
      <li>
        <a href="">Personal Finance</a>
      </li>
      <li><a href="">Money Hacks</a></li>
      <li><a href="">Your Career</a></li>
      <li><a href="">Small Business</a></li>
      <li><a href="">Investing</a></li>
    </ul>
  </div>
</nav>