<div class="bmenu">
  <span class="bmclose">
    <i class="fa fa-times"></i>
  </span>
  <div class="row">
    <div class="col-sm-3">
      <b>Personal Finance</b>
      <ul>
        <li>
          <a href="">Personal Finance</a>
        </li>
        <li><a href="">Budgeting</a></li>
        <li><a href="">Retirement Decisions</a></li>
        <li><a href="">Home Buying</a></li>
        <li><a href="">Credit & Debt</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <b>Money Hacks</b>
      <ul>
        <li>
          <a href="">Contests</a>
        </li>
        <li><a href="">Money Hacks</a></li>
        <li><a href="">Frugal Living</a></li>
        <li><a href="">Freebies</a></li>
        <li><a href="">Couponing</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <b>Your Career</b>
      <ul>
        <li>
          <a href="">Job Searching</a>
        </li>
        <li><a href="">Management & Leadership</a></li>
        <li><a href="">Human Resources</a></li>
        <li><a href="">Small Business</a></li>
        <li><a href="">Career Planning</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <b>Small Business</b>
      <ul>
        <li>
          <a href="">Online Business</a>
        </li>
        <li><a href="">Money Hacks</a></li>
        <li><a href="">Entrepreneurship</a></li>
        <li><a href="">Business Law & Taxes</a></li>
        <li><a href="">Investing</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="sblock">
  <span class="sclose">
    <i class="fa fa-times"></i>
  </span>
  <input type="text" class="form-control" placeholder="Search word here and enter">
</div>